<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NominasGeneralesContext" connectionString="data source=SDNCAPACITACION\COMPAC;initial catalog=nomGenerales;persist security info=True;user id=sa;password=Sdmramos1;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>